body{
	font-family:Helvetica,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif,"dinnext","arial";
	font-size:14px;
	color:#353535;
	padding:0;
	margin:0;
	background-color:#f7f8fc;
	
	transition:all 0.3s ease-in-out;
}

ul{
	padding:0;
	list-style:none;
	margin:0;
}

li{
	padding:0;
	list-style:none;
}

input{
	font-family:"dinnext","arial";
	font-size:12px;
}

textarea{
	font-family:"dinnext","arial";
	font-size:12px;
}

a{
	text-decoration:underline;
	color:#657ad4; 
}

a:hover{
	background-color:#657ad4;
	color:#fff;
	cursor:pointer;
}

#page-top{
	display:block;
	clear:both;
	overflow:visible;
	height:106px;
	background-color:#fff;
	color:#666;
	
	position:fixed;
	top:0;
	left:0;
	width:100%; 
	
	float:left;
	z-index:999;
	
	box-shadow: 0 0 12px 0 rgba(101,122,212,.2);
    -webkit-box-shadow: 0 0 12px 0 rgba(101,122,212,.2);
	
	transition:all 0.3s ease-in-out;
}



#page-top .top-bar{
	margin: 0 auto; 
	overflow:hidden;
	display:block;
	
	width:1200px;
	height:60px; 
}

#page-top .top-bar .logo{
	display:inline-block;
	float:left;
	padding:12px 0;
}

#page-top .top-bar .logo .logo-text{ 
	height:36px;
	float:left;
	font-family:'Segoe UI','PingFang SC','Hiragino Sans GB','Microsoft YaHei','Helvetica Neue',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol',sans-serif;
}

#page-top .top-bar .logo .logo-icon{ 
	height:36px;
	width:50px;
	background-repeat:no-repeat;
	background-position:0% 50%;
	float:left;
	background-image:url('images/ic_scan.png');
}


#page-top .top-bar .logo .logo-title{
	font-size:20px;
	font-weight:normal;
	margin:0;
	line-height:1.5em;
	color:#353535;
}
#page-top .top-bar #func-theme{
	margin:15px 35px;
	float:left;
	overflow:hidden;
}

#page-top .top-bar #btn-theme{ 
	float:left;
	padding:5px;
	width:36px;
}

#page-top .top-bar #title-theme{
	float:left;
	padding:8px 5px; 
	font-size:12px;
}


@keyframes slideTop{
	from{margin-right:-192px}
	to{margin-right:0}
}


#page-top .top-bar .top-menu{ 
	display:block; 
	float:right;
	animation:slideTop 0.6s ease-in-out;
	margin-right:0; 
} 

#page-top .top-bar .top-menu ul{
	display:inline-block;
	overflow:hidden; 
}

#page-top .top-bar .top-menu li{
	float:left;
	padding:16px;
	line-height:2em;
	text-align:center;
	color:#657ad4;
	
	border-top:2px solid transparent;
}


#page-top .top-menu li.actived{
	border-color:#657ad4;
}


#page-top .top-bar .top-menu li a{
	text-decoration:none;
	color:#353535;
	display:block; 
	background-color:transparent; 
}


#page-top .top-bar .top-menu li a:hover{
	background-color:transparent;
	color:#657ad4;
}

#page-top #user-box{
	color:#353535;
	width:160px;
}

#page-top #user-box.activate{
	color:#657ad4;
	background-color:#f6f7fa;
}

#page-top #user-box:hover{
	color:#657ad4;
	background-color:#f6f7fa;
	cursor:pointer;
}

#page-top #user-box span{
	display:inline-block;
	float:left;
}

#page-top #user-box i{
	background-image:url("images/icon-set-24x24.png");
	background-repeat:no-repeat;
	background-position:-24px -45px;
	width:24px;
	height:24px;
	float:right;
	display:inline-block;
	margin-left:6px;
}

#page-top #user-name{
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow:hidden;
	width:130px;
}

#user-menu{
	position:absolute;
	width:220px;
	text-align:left;
	color:#666;
	display:none;
	background-color:#fff; 
	line-height:20px;
	top:60px;
	left:1083px;
	z-index:999;
	border:1px solid #d1dcff;
	
	border-radius:0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	-webkit-border-radius: 0 0 3px 3px;
	font-size:12px;
	
	box-shadow: 0 0px 8px 0 rgba(51,102,255,.08);
	-webkit-box-shadow: 0 0px 8px 0 rgba(51,102,255,.08);
	
}
 

#user-menu #user-menu-detail{
	padding:15px;
}

#user-menu #user-menu-detail p{
	margin:0;
}

#user-menu #btn-logoff,#btn-login{
	color:#657ad4;
	display:block;
	border-top:1px solid #efefef;
	text-align:center;
	line-height:32px;
	text-decoration:none;
}

#user-menu #btn-logoff:hover,#btn-login:hover{
	background-color:#f6f7fa;
}

#user-menu #btn-login{
	display:none;
}



#func-bar{
	display:block;
	clear:both;
	border-bottom:1px solid #eee; 
	overflow:visible; 
	height:46px;
	
	transition:all 0.3s ease-in-out;
}

#func-bar .container{
	margin:0 auto;
	width:1200px;
	clear:both;
	display:block;
	overflow:hidden;
	
	border-top:1px solid #f5f5f5;
	transition:all 0.3s ease-in-out;
}

#func-bar #period-type{
	float:left;
	display:inline-block;
	height:46px;
	min-width:220px;
	padding-top:3px;
}

#func-bar #date-box{
	float:right;
	display:inline-block;
	margin:7px;
	
	height:32px;
	min-width:145px; 
	
}

#func-bar #date-box .date-picker{
 transition:all  0.3s;
}

#page-body{
	margin: 0 auto;
	overflow:hidden;
	clear:both;
	padding-top:120px; 
	width:1200px; 
}

#page-body .container{  
	margin: 0 auto;
	clear:both;
	overflow:hidden;
}


#page-footer{
	display:block;
	clear:both;
	overflow:hidden;
	background-color:#353535;
	color:#fff;
	padding:30px 15px; 
}

#page-footer .container{
	width:100%;
	max-width:1200px;
	min-width:600px;
	line-height:2em;
	margin: 0 auto; 
	font-size:12px; 
}



#page-body .page-body-panel{ 
	margin:15px 0; 
	display:block;
	clear:both;
	overflow:hidden; 
}

#page-body .page-body-panel-white{
	background-color:#fff;
	border-radius:3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	
	margin:10px;
	box-shadow: 0 2px 2px 0 rgba(101,122,212,.12);
    -webkit-box-shadow: 0 2px 2px 0 rgba(101,122,212,.12);
	
	transition:all 0.3s ease-in-out;
}

#page-body .page-body-cell{
	display:inline-block;
	float:left;
}




#page-body #chart-idd-count{ 
	height:320px;
	display:block;
	margin:20px; 
	position:relative;
}


#page-body #chart-idd-type-wrapper{
	width:420px; 
	display:block;
	overflow:hidden;
	clear:both;
	 
	background-color:#fff;
	border-radius:3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	
	margin:10px;
	box-shadow: 0 2px 2px 0 rgba(101,122,212,.12);
    -webkit-box-shadow: 0 2px 2px 0 rgba(101,122,212,.12);
	transition:all 0.3s ease-in-out;
} 

#page-body .chart-title{
	padding: 10px 15px;
	margin:0;
	line-height:30px;
	border-bottom:1px solid #eee;
	color:#666;
	font-weight:600;
	font-size:14px;
	background-color:#fcfcfc;
	border-radius:3px 3px 0 0 ;
	
	transition:all 0.3s ease-in-out;
} 

#page-body #chart-idd-type{
	width:420px;
	height:170px;
	margin-top:15px;
	position:relative;
}

#wrap-toggle-type{
	float:right;
	height:30px;
	display:inline-block;
}

#wrap-toggle-type .text-toggle-type{
	font-weight:100;
	font-size:12px;
	margin-right:10px;
}

#wrap-toggle-type #btn-toggle-type{
	padding-top:5px;
	float:right;
}



#page-body .pie-chart-wrapper{
	width:200px;
	display:inline-block; 
	margin:10px; 
	float:left; 
	background-color:#fff;
	
	border-radius:3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	
	box-shadow: 0 2px 2px 0 rgba(101,122,212,.12);
    -webkit-box-shadow: 0 2px 2px 0 rgba(101,122,212,.12);
	transition:all 0.3s ease-in-out;
}

#page-body #chart-idd-rate{
	width:200px;
	height:155px;
	position:relative;
}



#page-body #chart-top-client{
	width:725px;
	height:345px; 
	margin:6px;
	margin-top:0;
	padding:10px 0;
}
#page-body #chart-top-client .data-table{
	border:0;
}

#wrap-toggle-email{
	float:right;
	height:30px;
	display:inline-block;
}

#wrap-toggle-email .text-toggle-email{
	font-weight:100;
	font-size:12px;
	margin-right:10px;
}

#wrap-toggle-email #btn-toggle-email{
	padding-top:5px;
	float:right;
}

#page-body #chart-user-no{
	width:180px;
	height:135px;
	padding:10px;
	text-align:left;
}

#page-body #chart-user-active{
	font-size:20px;
	color:#657ad4;
	line-height:35px;
	margin:0;
	padding: 0 15px;
	font-weight:300; 
}

#page-body #chart-user-all{
	font-size:14px;
	color:#666;
	line-height:30px;
	margin:0;
	padding: 0 15px;
	font-weight:300; 
}


#page-body .chart-user-label{
	font-size:12px;
	color:#999;
	line-height:20px;
	margin:0;
	padding: 0 10px;
	font-weight:10; 
	margin-top:10px;
}

#page-body #table-detail{  
	display:block;
	margin:0 10px;
	margin-bottom:0;
	box-shadow: 0 2px 2px 0 rgba(101,122,212,.12);
    -webkit-box-shadow: 0 2px 2px 0 rgba(101,122,212,.12);
}

#page-body #table-page{  
	display:block;
	border-top:1px solid #eee; 
	background-color:#fcfcfc;
	padding-top:10px; 
	
	margin:10px;
	margin-top:0;
	box-shadow: 0 2px 2px 0 rgba(101,122,212,.12);
    -webkit-box-shadow: 0 2px 2px 0 rgba(101,122,212,.12);
}


.table-func{
	display:block;
	overflow:hidden;
	padding:3px;
	margin: 0 10px;
	
	line-height:20px;
	background-color:#fff;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	
	border-bottom:1px solid rgb(231,237,255);
	box-shadow:0 2px 2px 0 rgba(101,122,212,0.12);
	-webkit-box-shadow:0 2px 2px 0 rgba(101,122,212,0.12);
}

.table-func-total{
	display:inline-block;
	float:left;
	padding:6px 10px;
	font-size:12px;
	color:#999;
}

#idd-table-count{
	font-size:14px;
	color:#657ad4;
	font-weight:500;
	padding:0 10px;
}

#table-func-down{ 
	width:100px;
	float:right; 
	padding:6px 10px;
	text-align:center;
	
	font-size:12px; 
	color:#666;
	border-left:1px solid #eee;
}

#table-func-down:hover{
	background-color:#f6f7fa;
	cursor:pointer;
	color:#657ad4;
} 

#table-func-down::before{
	content:"";
	width:24px;
	height:24px;
	display:inline-block;
	background-image:url("images/icon-set-24x24.png");
	background-repeat:no-repeat;
	background-position:-72px -120px;
	float:left;
} 


