body.dark{ 
	color:#fff; 
	background-color:#494d5a;
}
 

.dark a{ 
	color:#fff; 
}

.dark a:hover{
	background-color:#657ad4;
	color:#fff; 
}

.dark #page-top{ 
	background-color:#3d404b;
	color:#fff; 
	
	box-shadow: 0 0 12px 0 rgba(101,122,212,.2);
    -webkit-box-shadow: 0 0 12px 0 rgba(101,122,212,.2);
}
   
.dark #page-top .top-bar .logo .logo-icon{
	opacity:0.7;
}

.dark #page-top .top-bar .logo .logo-title{ 
	color:#fff;
}
  
.dark .toggle-btn-on{
	background-color: #83ffc1;
}

.dark #page-top .top-bar .top-menu li{ 
	color:#83ffc1; 
}

.dark #page-top .top-menu li.actived{
	border-color:#83ffc1;
}


.dark #page-top .top-bar .top-menu li a{ 
	color:#a2a7b7; 
}


.dark #page-top .top-bar .top-menu li a:hover{ 
	color:#83ffc1;
}
 
.dark #page-top #user-box{
	color:#a2a7b7; 
}

.dark #page-top #user-box.activate {
    background-color:#32353e; 
	color:#fff;
}

.dark #page-top #user-box:hover{
	background-color:#32353e; 
	color:#fff;
}
 

.dark #page-top #user-box i{
	background-image:url("images/icon-set-dark.png");
}

 
.dark #user-menu{ 
	color:#fff; 
	background-color:#494d5a;  
	border:1px solid #3d404b;
	
	box-shadow: 0 0px 8px 0 rgba(0,0,0,.25);
	-webkit-box-shadow: 0 0px 8px 0 rgba(0,0,0,.25);
	
}
  

.dark #user-menu #btn-logoff{
	color:#fff; 
	border-top:1px solid #3d404b;
}

.dark #user-menu #btn-login{
	color:#fff; 
	border-top:1px solid #3d404b;
}


.dark #user-menu #btn-logoff:hover{
	background-color:#3d404b;
} 

.dark #user-menu #btn-login:hover{
	background-color:#3d404b;
} 

.dark #func-bar{
	border-bottom:1px solid #272a32;
}

.dark #func-bar .container{  
	border-top:1px solid #272a32;
}
 


.dark #page-footer{ 
	background-color:#3d404b;
	color:#fff; 
} 

 

.dark #page-body .page-body-panel-white{
	background-color:#646a7d;  
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.25);
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.25);
}
  


.dark #page-body #chart-idd-type-wrapper{ 
	 
	background-color:#646a7d;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.25);
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.25);
} 

.dark #page-body .chart-title{ 
	border-bottom:1px solid #494d5a;
	background-color:#646a7d;
	color:#fff;
} 
 


.dark #page-body .pie-chart-wrapper{ 
	background-color:#646a7d;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.25);
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.25);
}
 

.dark #page-body #chart-user-active{ 
	color:#83ffc1; 
}

.dark #page-body #chart-user-all{ 
	color:#fff;  
}


.dark #page-body .chart-user-label{ 
	color:#a2a7b7; 
}

.dark #page-body #table-detail{   
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.25);
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.25);
}

.dark #page-body #table-page{   
	border-top:1px solid #494d5a; 
	background-color:#494d5a; 
	
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.25);
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.25);
}

/* Night style */

/*Data table*/

.dark .data-table{
	background-color:#646a7d;
	border: 0 solid #494d5a;
}

.dark .data-table a{
	color:#9fffd4;
}

.dark .data-table .data-table-body{
	background-color:#646a7d;
}

.dark .data-table .data-table-body tr{
	border-bottom: 1px solid #494d5a;
}

.dark .data-table .data-table-row_on .data-table-body-td{
	background-color:#494d5a;
}

.dark .data-table .data-table-body .data-table-body-td-rate-bar{
	background-color:#73ffed;  /*9face5*/
	background-image: linear-gradient(-90deg, #83ffc1, #73ffed);
	
}

.dark .data-table .data-table-head-item{
	color: #fff;
    background-color: #3d404b;
}
.dark .data-table .data-table-head{
	border-bottom: 0 solid #494d5a;
}

.dark .data-table .data-table-fix{
	border-right: 1px solid #494d5a;
}

.dark .data-table .data-table-head-item:hover{
	background-color: #494d5a;
    color: #fff;
}
.dark .data-table .data-table-head-item .data-table-head-item-filter:hover{
	background-color: #3d404b;
}

.dark .data-table .data-table-head-item .data-table-head-item-sort i{
	background-image: url(images/icon-set-dark.png);
}

.dark .data-table .data-table-head-item .data-table-head-item-filter i{
	background-image: url(images/icon-set-dark.png);
}
.dark .data-table .data-table-head-item .data-table-head-item-sort i:hover{
	background-color: #3d404b;
}

.dark .data-table .data-table-head .data-table-head-tr{
	background-color:#646a7d;
}
.dark .data-table-head{
	border-bottom: 1px solid #646a7d;
}

.dark .data-table .data-table-body .data-table-body-td-tag{
	color:#3d404b;
}

.dark .data-filter{
	background-color: #494d5a;
    border: 1px solid #3d404b;
	box-shadow: 0 0px 10px 0 rgba(0,0,0,.25);
    -webkit-box-shadow: 0 0px 10px 0 rgba(0,0,0,.25);
}
.dark .data-filter i{
	background-image: url(images/icon-set-dark.png);
}

.dark .data-filter .data-filter-select-all:hover{
	color: #fff;
}

.dark .data-filter .data-filter-select-all{
	border-bottom: 1px solid #3d404b;
    background-color: #3d404b;
	color: #fff;
}

.dark .data-filter .data-filter-list .data-filter-item{
	color: #fff;
}

.dark .data-filter .data-filter-list .data-filter-item:hover{
	background-color: #3d404b;
}
.dark .data-filter .data-filter-list .data-filter-more:hover {
    background-color: #3d404b; 
}

.dark .data-filter .data-filter-search{
	border-bottom: 1px solid #3d404b;
}
.dark .data-filter .data-filter-search input{
	background-color: #494d5a;
	color:#fff;
}
.dark .data-filter .data-filter-search .data-filter-btn:hover{
	background-color: #3d404b;
}

/*Date picker*/
.dark .date-picker{
	background-color: #494d5a;
	border: 1px solid #272a32;
}

.dark .date-picker-button a:hover{
	background-color: #3d404b;
}

.dark .date-picker-button i{
	background-image: url(images/icon-set-dark.png);
}


.dark .date-picker > .date-picker-box{
	color: #a2a7b7;
}

.dark .date-picker .date-picker-box:hover{
	color: #fff;
    background-color: #3d404b;
}

.dark .date-calendar{
	background-color:#494d5a;
	border:1px solid #3d404b;
	box-shadow: 0 0px 8px 0 rgba(0,0,0,.25);
    -webkit-box-shadow: 0 0px 8px 0 rgba(0,0,0,.25);
	
}

.dark .date-calendar .date-calendar-label{
	background-color:#3d404b;
	color:#a2a7b7;
	border-bottom:1px solid #272a32;
}
.dark .date-calendar .date-calendar-item .date-calendar-item-a{ 
	color:#a2a7b7;
}
.dark .date-calendar .date-calendar-item .date-calendar-item-a:hover{
	background-color: #3d404b;
    border: 1px solid #3d404b;
	color:#fff;
}

.dark .date-calendar7x6 .date-calendar-thisWk{
	background-color: #3d404b;
}

.dark .date-calendar .date-calendar-item .date-calendar-today{
	color: #9fffd4!important;
}

.dark .date-calendar .date-calendar-item .date-calendar-choosed {
    color: #9fffd4!important;
    border: 1px solid #9fffd4!important;
}

.dark .date-calendar .date-calendar-header-box a{
	color:#fff;
}

.dark .date-calendar .date-calendar-header-box a:hover { 
    background-color: #3d404b; 
}

.dark .date-calendar .date-calendar-header{
	border-bottom: 1px solid #3d404b;
}

.dark .date-calendar .date-calendar-body .date-calendar-other{
	color:#6c6f7b!important;
}


/* Tab */

.dark .tab-bar .tab-bar-li .tab-bar-a{
	color: #a2a7b7;
}

.dark .tab-bar .tab-bar-li .tab-bar-a{
	color: #a2a7b7;
}

.dark .tab-bar .tab-bar-li .tab-bar-a:hover{
	color:#9fffd4;
}

.dark .tab-bar .tab-bar-choosed{
	color: #9fffd4!important; 
    border-bottom: 2px solid #9fffd4!important;
}



/* Pagination */

.dark .pagination{
	background-color: #494d5a;
}

.dark .pagination .pagination-select .pagination-select-btn{
	border: 1px solid #3d404b;
    background-color: #646a7d;
    color: #fff;
	background-image: url(images/icon-set-dark.png);
}

.dark .pagination .pagination-select .pagination-select-li .pagination-select-item{
	color:#a2a7b7;
	border: 1px solid #3d404b;
    background-color: #646a7d;
}
.dark .pagination .pagination-select .pagination-select-li .pagination-select-item:hover{
	background-color: #3d404b;
    border: 1px solid #a2a7b7;
}

.dark .pagination .pagination-select .pagination-select-btn:hover {
    background-color: #3d404b;
    border: 1px solid #a2a7b7; 
}

.dark .pagination .pagination-select .pagination-select-li .pagination-select-item.choosed{
	background-color: #3d404b;
    border: 1px solid #9fffd4;
	color:#9fffd4;
}

.dark .pagination .pagination-info-size .pagination-drop-down .drop-down-box{
	background-color: #646a7d;
    border: 1px solid #3d404b;
}

.dark .pagination .pagination-info-size .pagination-drop-down .drop-down-box i{
	background-image: url(images/icon-set-dark.png);
}
 
.dark .pagination .pagination-info-size .pagination-drop-down .drop-down-box:hover {
    background-color: #494d5a;
    border: 1px solid #a2a7b7;
}

.dark .pagination .pagination-info .pagination-info-inputbox input{
	border: 1px solid #3d404b;
	background-color: #646a7d;
	color: #fff;
}

.dark .pagination .pagination-info-size .pagination-drop-down .drop-down-list{
	box-shadow: 0 0px 8px 0 rgba(0,0,0,.25);
    -webkit-box-shadow: 0 0px 8px 0 rgba(0,0,0,.25);
    background-color: #494d5a;
    border: 1px solid #3d404b;
}

.dark .pagination .pagination-info-size .pagination-drop-down .drop-down-list .drop-down-item:hover {
    background-color: #3d404b; 
}

.dark .pagination .pagination-info .pagination-info-space i{
	background-image: url(images/icon-set-dark.png);
}


/*
	Dialog
*/
.dark .dialog-body{
	color:#fff;
	background-color: #646a7d;
}

.dark .dialog-body .dialog-content .dialog-content-top{
	background-color: #494d5a;
	border-bottom: 1px solid #3d404b;
}

.dark .dialog-body .dialog-content .dialog-content-value{
	color:#fff;
}

.dark .dialog-body .dialog-content .dialog-content-label{
	color:#a2a7b7;
}

.dark .dialog-body .dialog-content .dialog-content-textarea{
	background-color:#494d5a;
	color:#fff;
}

.dark .dialog-body .dialog-content .dialog-content-comment-l{
	background-color:#494d5a;
}

.dark .dialog-body .dialog-content .dialog-content-btn{
	background-color: #494d5a;
    color: #fff;
}

.dark .dialog-body .dialog-content .dialog-content-comment-l, .dialog-content-comment-r{
	border: 1px solid #3d404b!important;
}

 